button {
  padding: 5px;
}

.url-input-container {
  padding-top: 5px;
  margin: 0px;
}

.convert-button-cotainer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.back-button-container {
  padding-top: 5px;
}

.note {
  color: #808080;
  //   background-color: #e7f3fe;
  //   border-left: 6px solid #2196f3;
  font-size: 11.5px;
}
